<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"> 
    <title>31 on demaree•me</title>
    <link href="<%= asset_path "thirty_one.css" %>" rel="stylesheet">
    <script type="text/javascript" src="http://use.typekit.com/<%= @kit_id ||= "mcj6sta" %>.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script src="<%= asset_path("application.js") %>" type="text/javascript" charset="utf-8"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
    
    <% if ENV["RACK_ENV"] == 'production' %>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4eb5a374f5a1f54e10000001');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
    </script>
    <% end %>
  </body>
</html>