/* Reset.less
 * Props to Eric Meyer (meyerweb.com) for his CSS reset file. We're using an adapted version here	that cuts out some of the reset HTML elements we will never need here (i.e., dfn, samp, etc).
 * ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ol, ul {
  list-style: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  outline: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal;
  *overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }
html, body {
  background-color: #fff; }

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #404040; }

input,
textarea,
select,
.uneditable-input {
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px white;
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: gray;
  border: 1px solid #ccc; }

input[type=file]:focus, input[type=checkbox]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666; }

input[type=checkbox], input[type=radio] {
  cursor: pointer; }

input[type=checkbox], input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE6-7 */
  line-height: normal;
  border: none; }

strong {
  font-style: inherit;
  font-weight: bold; }

em {
  font-style: italic;
  font-weight: inherit;
  line-height: inherit; }

:-moz-placeholder {
  color: #d9d9d9; }

::-webkit-input-placeholder {
  color: #d9d9d9; }
.wf-loading * {
  visibility: hidden; }

html, body {
  background: #f2f1f1; }

body {
  min-width: 320px;
  font-family: "ff-dagny-web-pro", Helvetica, Arial, sans-serif; }

a {
  color: #71868C; }

a:visited {
  color: #5a6b70; }

a:active {
  color: #435054; }

.container {
  margin: 0 auto;
  width: 93.75%; }
  @media screen and (min-width: 320px) {
    .container {
      width: 95.833%; } }
  @media screen and (min-width: 768px) {
    .container {
      width: 91.146%; } }
  @media screen and (min-width: 1024px) {
    .container {
      width: 940px; } }

.group {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */ }
  .group:before, .group:after {
    content: "";
    display: table; }
  .group:after {
    clear: both; }
  .group {
    zoom: 1; }

label, input, select, textarea {
  font-family: "ff-dagny-web-pro", Helvetica, Arial, sans-serif; }

.banner {
  padding: 40px 0;
  text-align: center; }
  .banner h1 {
    margin: 0 auto;
    font-size: 27px;
    line-height: 30px; }
  .banner p {
    color: #666;
    font-weight: 300;
    font-family: "ff-tisa-web-pro", Georgia, serif;
    font-size: 15px;
    line-height: 20px;
    margin: 10px auto 0;
    width: 90%; }
  .banner .big-logo {
    margin-bottom: 10px; }
  .banner img {
    width: 150px; }
  @media screen and (min-width:640px) {
    .banner img {
      width: 200px; }
    .banner h1 {
      font-size: 36px;
      line-height: 40px; }
    .banner p {
      font-size: 20px;
      line-height: 23px; } }
  @media screen and (min-width:940px) {
    .banner h1 {
      font-size: 40px;
      line-height: 45px;
      width: 61.702%; }
    .banner p {
      width: 68.085%; } }

.help-block {
  color: #a6a6a6; }

.field + .field {
  margin-top: 15px; }

.section {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  border-top: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px; }
  .section:before, .section:after {
    content: "";
    display: table; }
  .section:after {
    clear: both; }
  .section {
    zoom: 1; }
  .section + .section {
    margin-top: 25px; }

.section-info,
.section-body {
  width: 93.333%;
  margin: 0 auto; }
  @media screen and (min-width: 320px) {
    .section-info,
    .section-body {
      width: 95.652%; } }
  @media screen and (min-width: 768px) {
    .section-info,
    .section-body {
      width: 97.326%; } }
  @media screen and (min-width:768px) {
    .section-info,
    .section-body {
      margin: 0; } }

.section-info {
  padding-bottom: 15px; }
  .section-info h2 {
    font-family: "ff-dagny-web-pro", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 8px; }
  .section-info p {
    font-family: "ff-tisa-web-pro", Georgia, serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #666; }
  .section-info p + p {
    margin-top: 8px; }
  @media screen and (min-width:768px) {
    .section-info {
      float: left;
      width: 31.429%; } }
  @media screen and (min-width: 940px) {
    .section-info {
      width: 29.787%; } }

@media screen and (min-width:768px) {
  .section-body {
    float: right;
    width: 65.714%; } }
@media screen and (min-width: 1024px) {
  .section-body {
    width: 68.085%; } }

.answer-area, .places-section .places-list, .thanks .party-info {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 3px 3px rgba(204, 202, 202, 0.3);
  border-color: #ccc; }

.answer-area-header, .days-section .day-header, .places-section .places-list-header {
  font-size: 15px;
  line-height: 16px;
  padding: 5px;
  border-bottom: 1px solid #bbb; }
  .answer-area-header h3, .days-section .day-header h3, .places-section .places-list-header h3 {
    display: inline; }
  .answer-area-header a, .days-section .day-header a, .places-section .places-list-header a {
    font-size: 13px;
    padding: 10px 5px;
    text-decoration: none; }

.label-trigger {
  color: #444;
  display: block;
  text-decoration: none; }
  .label-trigger:active {
    background-color: #e5e5e5; }
    .label-trigger:active .label-text {
      background-color: transparent; }

.obvious-label, .days-section label, .places-section label {
  border-bottom: 1px solid #eee;
  display: block;
  font-family: "ff-dagny-web-pro", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  padding: 10px;
  text-align: left;
  width: auto; }
  .obvious-label input[type=checkbox], .days-section label input[type=checkbox], .places-section label input[type=checkbox] {
    font-size: 17px; }
.obvious-label.checked .label-text, .days-section label.checked .label-text, .places-section label.checked .label-text {
  background: #ffffe5;
  color: #313131;
  text-shadow: 1px 1px 0 #fff; }
.obvious-label:active, .days-section label:active, .places-section label:active {
  background-color: #e5e5e5;
  background-color: #e9eced; }
  .obvious-label:active .label-text, .days-section label:active .label-text, .places-section label:active .label-text {
    background-color: transparent; }

.email-section .help-block {
  margin-top: 5px; }
.email-section input[type=text] {
  font-size: 24px;
  height: 28px;
  width: 96.429%; }

.days-section .answer-area, .days-section .places-section .places-list, .places-section .days-section .places-list, .days-section .thanks .party-info, .thanks .days-section .party-info {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */
  margin: 0 -5px;
  padding: 5px; }
  .days-section .answer-area:before, .days-section .places-section .places-list:before, .places-section .days-section .places-list:before, .days-section .thanks .party-info:before, .thanks .days-section .party-info:before, .days-section .answer-area:after, .days-section .places-section .places-list:after, .places-section .days-section .places-list:after, .days-section .thanks .party-info:after, .thanks .days-section .party-info:after {
    content: "";
    display: table; }
  .days-section .answer-area:after, .days-section .places-section .places-list:after, .places-section .days-section .places-list:after, .days-section .thanks .party-info:after, .thanks .days-section .party-info:after {
    clear: both; }
  .days-section .answer-area, .days-section .places-section .places-list, .places-section .days-section .places-list, .days-section .thanks .party-info, .thanks .days-section .party-info {
    zoom: 1; }
@media screen and (min-width: 1024px) {
  .days-section .day-header .day-of-week, .days-section .day-header time {
    display: block;
    padding: 0 5px;
    line-height: 22px; }
  .days-section .day-header time {
    font-size: 22px; }
  .days-section .day-header a {
    display: block;
    padding: 10px 5px; } }
.days-section .day {
  margin-bottom: 15px; }
  @media screen and (min-width: 1024px) {
    .days-section .day {
      border-left: 1px solid #bbb;
      float: left;
      margin-bottom: 0;
      position: relative;
      width: 126px; }
      .days-section .day:nth-child(1) {
        width: 126px;
        border: 0; } }
@media screen and (min-width: 1024px) {
  .days-section label {
    font-size: 14px; } }
@media screen and (min-width: 1024px) {
  .days-section li:last-child label {
    border-bottom: 0; } }
.days-section input[type=checkbox] {
  width: 16px; }

.places-section .places-list {
  margin: 0 -5px;
  padding: 5px; }
.places-section .checkbox-sections {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */ }
  .places-section .checkbox-sections:before, .places-section .checkbox-sections:after {
    content: "";
    display: table; }
  .places-section .checkbox-sections:after {
    clear: both; }
  .places-section .checkbox-sections {
    zoom: 1; }
.places-section .places-list-header {
  padding: 10px; }
  .places-section .places-list-header h3 {
    font-size: 17px; }
@media screen and (min-width:1024px) {
  .places-section .places-list-section {
    float: left;
    width: 210px; }
    .places-section .places-list-section.notes-section {
      clear: both;
      float: none;
      width: auto; }
    .places-section .places-list-section#drinks-section {
      width: 212px; } }
.places-section .places-list-section + .places-list-section {
  margin-top: 15px; }
  @media screen and (min-width:1024px) {
    .places-section .places-list-section + .places-list-section {
      margin-top: 0; }
      .places-section .places-list-section + .places-list-section:first-child {
        margin-left: 0; } }
.places-section .places-list-section.notes-section {
  margin-top: 15px; }
.places-section .notes {
  padding: 15px 10px 10px; }
  .places-section .notes textarea {
    min-height: 60px;
    padding: 5px;
    width: 96.109%; }
    @media screen and (min-width:1024px) {
      .places-section .notes textarea {
        width: 98.107%; } }
.places-section ul {
  /* For modern browsers */
  /* For IE 6/7 (trigger hasLayout) */ }
  .places-section ul:before, .places-section ul:after {
    content: "";
    display: table; }
  .places-section ul:after {
    clear: both; }
  .places-section ul {
    zoom: 1; }
@media screen and (min-width:1024px) {
  .places-section label {
    font-size: 15px; } }

.btn {
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#e5e5e5));
  background-image: -webkit-linear-gradient(white, white 25%, #e5e5e5);
  background-image: -moz-linear-gradient(white, white 25%, #e5e5e5);
  background-image: -ms-linear-gradient(white, white 25%, #e5e5e5);
  background-image: -o-linear-gradient(white, white 25%, #e5e5e5);
  background-image: linear-gradient(white, white 25%, #e5e5e5);
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  padding: 10px 20px 12px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
  .btn:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none; }
  .btn:focus {
    outline: 1px dotted #666; }

.actions {
  border-top: 1px solid #ccc;
  margin-top: 20px;
  padding: 20px 0 80px;
  text-align: center; }
  .actions h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 0 auto;
    width: 80%; }
  .actions ul, .actions p, .actions li {
    font-family: "ff-tisa-web-pro", Georgia, serif;
    font-size: 15px;
    line-height: 20px;
    margin: 10px auto;
    width: 86.667%; }
  .actions ul {
    list-style-type: square;
    text-align: left; }
    .actions ul li {
      margin-left: 20px;
      width: auto; }
    .actions ul li + li {
      margin-top: 5px; }
    @media screen and (min-width:768px) {
      .actions ul {
        width: 74.286%; } }
  .actions p {
    margin: 20px auto; }
  .actions .btn {
    margin-bottom: 10px;
    width: 93.333%; }
    @media screen and (min-width: 320px) {
      .actions .btn {
        width: 95.652%; } }
    @media screen and (min-width: 480px) {
      .actions .btn {
        width: 200px;
        margin-bottom: 0; } }

.thanks {
  padding-bottom: 40px; }
  .thanks header {
    padding-bottom: 20px; }
  .thanks .party-info {
    font-family: "ff-tisa-web-pro", Georgia, serif;
    font-size: 15px;
    line-height: 20px; }
    @media screen and (min-width:640px) {
      .thanks .party-info {
        font-size: 17px;
        line-height: 22px;
        margin: 0 auto;
        width: 620px; } }
    .thanks .party-info .link, .thanks .party-info .email {
      padding: 10px;
      margin: 10px; }
    .thanks .party-info .link {
      border-bottom: 1px solid #ccc;
      margin-bottom: 0;
      padding-bottom: 20px; }
    .thanks .party-info h3 {
      font-family: "ff-dagny-web-pro", Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-size: 19px;
      line-height: 22px; }
    .thanks .party-info p + p {
      margin-top: 10px; }
    .thanks .party-info .secret-url {
      font-family: "ff-dagny-web-pro", Helvetica, Arial, sans-serif;
      font-size: 20px;
      line-height: 22px;
      margin: 15px 0; }
      @media screen and (min-width:640px) {
        .thanks .party-info .secret-url {
          font-size: 24px;
          line-height: 26px; } }
      .thanks .party-info .secret-url a {
        display: block; }
